fastapi
uvicorn[standard]
pydantic
sqlmodel
SQLAlchemy
python-dotenv
requests
httpx
langchain
langchain-core
langchain-community
langchain-groq
deepl
streamlit
orjson
jinja2
google-api-python-client
google-auth
google-auth-httplib2
dotenv
google-auth-oauthlib
